<div class="container mt-3">
  <div class="card">
    <div class="card-body">

      <h3>Controle de produtos</h3>
      <p>Listagem de produtos cadastrados.</p>

      <div class="mb-3">
        <button class="btn btn-sm btn-outline-success">
          Cadastrar produto
        </button>
      </div>

      <div class="table-responsive">
        <table class="table table-sm table-hover table-striped">
          <thead>
            <tr>
              <th>Nome do produto</th>
              <th>Preço</th>
              <th>Quantidade</th>
              <th>Categoria</th>
              <th>Operações</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let p of produtos">
              <td>{{p.nome}}</td>
              <td>{{p.preco}}</td>
              <td>{{p.quantidade}}</td>
              <td>{{p.categoria.nome}}</td>
              <td>
                <button class="btn btn-sm btn-outline-primary">
                  Editar
                </button>
                <button class="btn btn-sm btn-outline-danger ms-2">
                  Excluir
                </button>
              </td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <td colspan="5">
                Quantidade de produtos obtidos: {{produtos.length}}
              </td>
            </tr>
          </tfoot>
        </table>
      </div>

    </div>
  </div>
</div>