<div class="container mt-3">
  <div class="card">
    <div class="card-body">

        <h3>Cadastro de produtos</h3>
        <p>Preencha os campos para incluir um produto.</p>
        
        <form [formGroup]="form" (ngSubmit)="onSubmit()">

            <div class="row mb-3">
                <div class="col-md-6">
                    <label>Nome do produto:</label>
                    <input type="text" class="form-control" formControlName="nome"/>
                    <div class="text-danger" *ngIf="f['nome'].touched && f['nome'].invalid">
                        Por favor, informe o nome do produto.
                    </div>
                </div>
                <div class="col-md-3">
                    <label>Preço:</label>
                    <input type="text" class="form-control" formControlName="preco"/>
                    <div class="text-danger" *ngIf="f['preco'].touched && f['preco'].invalid">
                        Por favor, informe o preço do produto.
                    </div>
                </div>
                <div class="col-md-3">
                    <label>Quantidade:</label>
                    <input type="text" class="form-control" formControlName="quantidade"/>
                    <div class="text-danger" *ngIf="f['quantidade'].touched && f['quantidade'].invalid">
                        Por favor, informe a quantidade do produto.
                    </div>
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-md-3">
                    <label>Selecione a categoria:</label>
                    <select class="form-select" formControlName="categoriaId">
                        <option value="">Escolha uma opção</option>
                        <option *ngFor="let c of categorias" value="{{c.id}}">
                            {{c.nome}}
                        </option>
                    </select>
                    <div class="text-danger" *ngIf="f['categoriaId'].touched && f['categoriaId'].invalid">
                        Por favor, selecione a categoria do produto.
                    </div>
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-md-3">
                    <input type="submit" class="btn btn-success" value="Realizar Cadastro"
                        [disabled]="form.invalid"/>
                </div>
            </div>

        </form>

    </div>
  </div>
</div>
